/*背景*/

body{
    background-image: url("background.jpeg"); 
    background-repeat: no-repeat;    
    background-size: cover;
    text-align: center;
}

/*子彈*/

#bullet{
    display: none;
    position: absolute;
    width: 14mm;
    height: 10mm;
    bottom: 20%;
    right: 50%;
    left: 50%;
}
/*戰鬥機*/

#jet{
    display: none;
    height: 15mm;
    position: absolute;
    bottom: 5%;
    right: 50%;
    left: 50%;
}

/*開始按鈕*/

#button_start{
    background-color: lightblue;
    position: absolute;
    top: 50%;
    height: 1cm;
    font-size: larger;
}